{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>Login</h1>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% if next %}
        {% if user.is_authenticated %}
        <p>
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </p>
        {% else %}
        <p>
            Please login to see this page.
        </p>
        {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="user">Username:</label>
            <input type="text" id=user name="username">
            <br><br>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password">
            <br><br>
            <button>Login</button>
            </table>
        </form>
    </div>
</main>
{% endblock content %}