{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <h1> <a href="{% url 'create_project' %}">Create a new project</a> </h1>
        {% if user_projects.all|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        {% if user.is_authenticated %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>
</main>
{% endblock content %}