{% extends 'base.html' %}
{% block content %}
{% load markdownify %}
<main>
    <div>
        <h1>{{ projects.name }}</h1>
        {{ projects.description|markdownify }}
        <h1> <a href="{% url 'create_task' %}">Create a new task</a> </h1>
        <h2>Tasks</h2>
        {% if projects.tasks.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in projects.tasks.all %}
                <tr>
                    <td><a href="{% url 'show_my_tasks' %}">{{ task.name }}</a></td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    {% if task.is_completed == True %}
                    <td>yes</td>
                    {% else %}
                    <td>no</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}